.Arrow{
    position: absolute;
    z-index: 1;
    font-size: 2em;
    cursor: pointer;
}
#left_arrow{
    margin-top: 9em;
    margin-left: 2em;
}
#right_arrow{  
    margin-top: -44.5em;
    margin-left: 36em;
}



/* .PageHome{
    margin-top: 50px;
}

.PageHome {
    transition: transform 0.3s ease; /* Optional: Add transition for smooth animation */
/* } */




.PageHome.clicked {
    transform: translateY(100px); /* Example transformation on click */
} */
.PageHome {
    position: absolute;
    transition: transform 0.3s ease; /* Optional: Add transition for smooth animation */
}

.PageHome.down {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
}

.PageHome.up {
    transform: translateY(-100px); /* Move up */
}


.slideRight {
    animation: slideRightAnimation 0.5s forwards;
}

/* .rotateLeft {
    animation: rotateLeftAnimation 0.5s forwards;
    -webkit-animation: rotateLeftAnimation 0.5s forwards;
} */



/* go left for car  */

@keyframes slideLeftAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.slideLeft {
    animation: 2s linear 0.5s forwards slideLeftAnimation;
    -webkit-animation: 2s linear 0.5s forwards slideLeftAnimation;
}




@keyframes slideRightAnimation {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Rotate and go left for car wheels */

@keyframes rotateLeftAnimation {
    0% {
        transform: translateX(0) rotate(0);
    }
    100% {
        transform: translateX(-78.9em) rotate(-360deg);
        -webkit-transform: translateX(-78.9em) rotate(-360deg);
        -moz-transform: translateX(-78.9em) rotate(-360deg);
        -ms-transform: translateX(-78.9em) rotate(-360deg);
        -o-transform: translateX(-78.9em) rotate(-360deg);
}
}
.rotateLeft {
    animation: rotateLeftAnimation 2s linear 0.5s forwards;
    -webkit-animation: rotateLeftAnimation 2s linear 0.5s forwards;
}



@keyframes rotateRightAnimation {
    from {
        transform: rotateY(-90deg);
    }
    to {
        transform: rotateY(0);
    }
}




/* .rotateRight {
    animation: rotateRightAnimation 0.5s forwards;
} */






.Arrow {
    cursor: pointer;
}

h1{
    color: #8a8a8a;
    text-align: center;
}
.ford{
    margin-top: 1em;
    font-size: 4em;
}
.must{
    margin-top: -25px;
    font-size: 12em;
}
.Car_must{
    position: relative;
    margin-top: -90px;
    text-align: center;
}
#t1{
    width: 8em;
    height: 8em;
    margin-left: 19.45em;
    margin-top: -11.5em;
}
#t2{
    width: 8em;
    height: 8em;
    margin-left: 22.3em;
    margin-top: -12em;
}

/* .Car_must img #t1 {
    transition: transform 2s ease;
    -webkit-transition: transform 2s ease;
    -moz-transition: transform 2s ease;
    -ms-transition: transform 2s ease;
    -o-transition: transform 2s ease;
}

.Car_must.spinning img #t1 {
    animation: spin 6s linear infinite;
    -webkit-animation: spin 6s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */




.icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    font-size: 15px;
    margin-left: 80px;
    margin-top: -100px;
    cursor: pointer;
}
.icons > * {
    margin-bottom: 15px; /* Adds space between each icon */
}
#icon:hover{
    font-size: 18px;
}
.custom-carousel-icon{
    position: absolute;
    color: red;
    font-size: 24px;
    text-decoration: #6c757df9;
}

.buttons{
    text-align: center;
    
}

#rent3{
    width: 10em;
  background-color: #7d0002;
  color: white;
  font-size: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: none;
  padding: 10px;
  cursor: pointer;
}
#det3{
    width: 10em;
    padding: 10px;
  font-size: 20px;
  color: rgb(87, 87, 87);
  margin-left: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
}



